@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-white;
  font-family: Rowland, sans-serif;
  overflow: hidden;
}

canvas {
  filter: blur(0px) saturate(120%) brightness(105%);
}

@keyframes pulseGlow {
  0%, 100% { filter: drop-shadow(0 0 10px #b393d3); }
  50% { filter: drop-shadow(0 0 25px #f5c16c); }
}

h1 {
  animation: pulseGlow 3s infinite ease-in-out;
}
