@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  background: #0b0c0e;
  color: white;
  font-family: 'Inter', sans-serif;
}

canvas {
  filter: blur(0px) saturate(120%) brightness(105%);
}

/* Hide scrollbar for horizontal scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
